1. Libraries

In [2]:
#Data Understanding and Preparation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
fake = pd.read_csv('Fake.csv')
true = pd.read_csv('True.csv')

In [4]:
len(fake)
len(true)

21417

In [5]:
fake['label'] = 1
true['label']=0

df_concated = pd.concat([fake, true])
permutation = np.random.permutation(len(df_concated))
df = df_concated.iloc[permutation]
df_concated

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [6]:
df.duplicated().sum()

209

In [7]:
df = df.drop_duplicates()

df.shape

(44689, 5)

In [8]:
nan_count_per_column = df.isnull().sum()

print(nan_count_per_column)

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [9]:
df_no_date = df.drop(columns=['date'])

df_no_date

,title,text,subject,label
14444,More than 30 rescued in Afghan raid on Taliban...,"LASHKAR GAH, Afghanistan (Reuters) - Afghan an...",worldnews,0
20156,Kurds will find it hard to implement independe...,CAIRO (Reuters) - Iraqi Kurdish leaders must b...,worldnews,0
23278,POLICE STATE END-RUN: DHS Wants Control of U.S...,21st Century Wire says Here s a classic case o...,Middle-east,1
5600,House GOP To Waste MORE Time And Money With S...,When House Democrats staged a 26-hour sit-in t...,News,1
21098,"IF YOU’RE EASILY OFFENDED, Don’t Watch This Am...",You re gonna love this patriot! He speaks for ...,left-news,1
...,...,...,...,...
15885,FLASHBACK: KING OBAMA COMMUTES SENTENCES OF 22...,Just making room for Hillary President Obama t...,politics,1
18988,No Ex-President In 100 Yrs Has Set Up A Shadow...,FOX News Catherine Herridge exposes the dirty...,left-news,1
6748,Jimmy John’s Thinks $1 Sandwiches Are Going T...,This week Jimmy John s sandwiches offered $1 s...,News,1
7625,U.S. attorney general did not order FBI to wit...,WASHINGTON (Reuters) - U.S. Attorney General L...,politicsNews,0
1213,Blumenthal: It ‘Could Be Perjury’ If Sessions...,Sen. Richard Blumenthal was deeply disturbed b...,News,1

Lets try to make text Preprocessing, where are going through these steps: 
* Lowercasing
* Removing Special Characters and Punctuation
* Tokenization
* Removing Stopwords
* Lemmatization (We'll prefer this over stemming as it's generally more effective for understanding the context of words).

In [10]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

# Download necessary NLTK resources
nltk.download('punkt')  # for tokenization
nltk.download('stopwords')  # for stopwords
nltk.download('wordnet')  # for lemmatization

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/claramillekalo/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/claramillekalo/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/claramillekalo/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [11]:
def preprocess_text(text):
    # Convert text to lowercase
    text = text.lower()

    # Remove special characters and punctuation
    text = ''.join(char for char in text if char.isalnum() or char.isspace())

    # Tokenization
    tokens = word_tokenize(text)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]

    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]

    # Join words back to form the cleaned text
    return ' '.join(tokens)

def preprocess_subject(subject):
    # Convert text to lowercase
    subject = subject.lower()

    # Remove special characters and punctuation
    subject = ''.join(char for char in subject if char.isalnum() or char.isspace())

    # Tokenization
    tokens = word_tokenize(subject)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]

    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]

    # Join words back to form the cleaned text
    return ' '.join(tokens)

def preprocess_title(title):
    # Convert text to lowercase
    title = title.lower()

    # Remove special characters and punctuation
    title = ''.join(char for char in title if char.isalnum() or char.isspace())

    # Tokenization
    tokens = word_tokenize(title)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]

    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]

    # Join words back to form the cleaned text
    return ' '.join(tokens)

# Assuming 'df' is your DataFrame and it contains a column named 'text'
df_no_date['cleaned_text'] = df_no_date['text'].apply(preprocess_text)
df_no_date['cleaned_subject'] = df_no_date['subject'].apply(preprocess_subject)
df_no_date['cleaned_title'] = df_no_date['title'].apply(preprocess_title)

In [12]:
df_no_date.drop(columns=['title', 'subject', 'text'], inplace=True)

In [13]:
df_no_date

,label,cleaned_text,cleaned_subject,cleaned_title
14444,0,lashkar gah afghanistan reuters afghan foreign...,worldnews,30 rescued afghan raid taliban prison
20156,0,cairo reuters iraqi kurdish leader must prepar...,worldnews,kurd find hard implement independence say iraq...
23278,1,21st century wire say classic case problem rea...,middleeast,police state endrun dhs want control u election
5600,1,house democrat staged 26hour sitin protest hou...,news,house gop waste time money silly investigation...
21098,1,gon na love patriot speaks every one u 100 fed...,leftnews,youre easily offended dont watch american past...
...,...,...,...,...
15885,1,making room hillary president obama today anno...,politics,flashback king obama commute sentence 22 drug ...
18988,1,fox news catherine herridge expose dirty tacti...,leftnews,expresident 100 yr set shadow governmentgone l...
6748,1,week jimmy john sandwich offered 1 sub promoti...,news,jimmy john think 1 sandwich going make u forgi...
7625,0,washington reuters u attorney general loretta ...,politicsnews,u attorney general order fbi withhold clintonr...
1213,1,sen richard blumenthal deeply disturbed james ...,news,blumenthal could perjury session hid third mee...

In [14]:
df_no_date.to_csv('Preprocessed.csv', index=False)

In [15]:
# Loading DataFrame to check for missing values
df = pd.read_csv('Preprocessed.csv')

# Count the number of missing values in each column
missing_values_count = df.isnull().sum()

# Print the number of missing values in each column
print("Missing values in each column:")
print(missing_values_count)

# Calculate the total number of missing values in the DataFrame
total_missing_values = missing_values_count.sum()
print("Total missing values in the dataset:", total_missing_values)

Missing values in each column:
label                0
cleaned_text       632
cleaned_subject      0
cleaned_title        0
dtype: int64
Total missing values in the dataset: 632

To ensure that our models and other features are able to be included and understood, we remove the rows with missing values below

In [16]:
# Remove rows with missing values in cleaned_text as seen from the printout above
df_cleaned = df.dropna()

# Save the cleaned DataFrame to a new file if needed
df_cleaned.to_csv('Preprocessed_clean.csv', index=False)

# Optionally, print the shape to see how many rows were dropped
print("Original DataFrame shape:", df.shape)
print("New DataFrame shape after removing rows with NaN:", df_cleaned.shape)

Original DataFrame shape: (44689, 4)
New DataFrame shape after removing rows with NaN: (44057, 4)

Below we vectorize the dataset to enable counting tokens in the text

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Load your dataset
subset_df = pd.read_csv('Preprocessed_clean.csv')

# Initialize a TF-IDF Vectorizer
vectorizer = TfidfVectorizer(max_features=512)  # You can adjust this if needed

# Apply TF-IDF to the 'cleaned_text' column
tfidf_matrix = vectorizer.fit_transform(subset_df['cleaned_text'])

# Convert TF-IDF matrix to a DataFrame to manipulate easily
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())

# Count non-zero entries in each row, which represents the number of unique tokens used
subset_df['token_count'] = (tfidf_df != 0).sum(axis=1)

# Filter out rows where the number of tokens is greater than 512
filtered_df = subset_df[subset_df['token_count'] <= 512]

# Save the filtered DataFrame
filtered_df.to_csv('filtered_dataset.csv', index=False)

# Optionally, inspect the first few rows of the filtered DataFrame
print(filtered_df.head())

   label                                       cleaned_text cleaned_subject  \
0      0  lashkar gah afghanistan reuters afghan foreign...       worldnews
1      0  cairo reuters iraqi kurdish leader must prepar...       worldnews
2      1  21st century wire say classic case problem rea...      middleeast
3      1  house democrat staged 26hour sitin protest hou...            news
4      1  gon na love patriot speaks every one u 100 fed...        leftnews

                                       cleaned_title  token_count
0              30 rescued afghan raid taliban prison           30
1  kurd find hard implement independence say iraq...           72
2    police state endrun dhs want control u election           76
3  house gop waste time money silly investigation...           91
4  youre easily offended dont watch american past...           11

In [18]:
print(filtered_df['token_count'])

0        30
1        72
2        76
3        91
4        11
         ..
44052    55
44053    10
44054    86
44055    84
44056    46
Name: token_count, Length: 44057, dtype: int64

As seen from the printed results none of the rows have been removed, as none of them are above 512 Below we examine the token_count, to determine wether we are able to use this as a way to create subsets and decrease the size of the dataset We will examine it by looking at both the lowest and highest token_count to ensure we incorporate relevant articles

In [19]:
# Find the row with the maximum 'token_count'
max_token_row = filtered_df[filtered_df['token_count'] == filtered_df['token_count'].max()]

# Find the row with the minimum 'token_count'
min_token_row = filtered_df[filtered_df['token_count'] == filtered_df['token_count'].min()]

# Print the row with the maximum and minimum token count
print(max_token_row)
print(min_token_row)

       label                                       cleaned_text  \
33783      1  funny secret travel start believe bleed lyric ...
35062      1  funny secret travel start believe bleed lyric ...

      cleaned_subject                                      cleaned_title  \
33783          usnews  medium tripwire ping pong pizza conspiracy pro...
35062      middleeast  medium tripwire ping pong pizza conspiracy pro...

       token_count
33783          360
35062          360
       label                                       cleaned_text  \
253        1                httpswwwyoutubecomwatchvvkrctn0nevu
792        1                 httpswwwyoutubecomwatchv9lnyxdwzza
936        1  httpsfedupwpenginecomwpcontentuploads201504ent...
1122       1                httpswwwyoutubecomwatchvsh0prtk9sae
2104       1                httpswwwyoutubecomwatchvhxjzbpaf0sk
...      ...                                                ...
41883      1                            httpsyoutubertuxvwjh3a4
43239      1                httpswwwyoutubecomwatchvyedu6dcr9ta
43824      1  httpsfedupwpenginecomwpcontentuploads201504hil...
43856      1                                           divide u
44028      1  chris stevens sean smith glen doherty tyrone wood

       cleaned_subject                                      cleaned_title  \
253           leftnews  tucker carlson out human right exec director p...
792           leftnews  thank babyyes feminist go nut president trump ...
936           politics  httpsfedupwpenginecomwpcontentuploads201504ent...
1122   government news  crybaby nancy pelosi taunt trump healthcare bi...
2104          politics  brilliant rep king call cia director hit job t...
...                ...                                                ...
41883         politics  view whoopi goldberg cohost black people dont ...
43239         politics  youre sexist pig feminist battle tucker carlso...
43824         leftnews  httpsfedupwpenginecomwpcontentuploads201504hil...
43856         leftnews  working class revolt old school jersey patriot...
44028         politics  watch crooked hillary make claim life lost lib...

       token_count
253              0
792              0
936              0
1122             0
2104             0
...            ...
41883            0
43239            0
43824            0
43856            0
44028            0

[134 rows x 5 columns]

As we can clearly see many rows seem to have 0 tokens, which means these are not understood well by the computer This show a relevance in setting a minimum token_count and creating a subset based on this

In [20]:
# Define a minimum token count threshold
MIN_TOKENS = 70

# determine that the DataFrame should include only rows with 'token_count' being greater than or equal to MIN_TOKENS
filter_df_tokens = filtered_df[filtered_df['token_count'] >= MIN_TOKENS]

# Split the DataFrame into two based on the label
tokens_df_class_0 = filter_df_tokens[filter_df_tokens['label'] == 0]
tokens_df_class_1 = filter_df_tokens[filter_df_tokens['label'] == 1]

# Find the minimum count to balance the dataset
min_count = min(len(tokens_df_class_0), len(tokens_df_class_1))

# Randomly sample min_count rows from each DataFrame
subset_class_0 = tokens_df_class_0.sample(n=min_count, random_state=42)  # Ensures reproducibility
subset_class_1 = tokens_df_class_1.sample(n=min_count, random_state=42)

# Concatenate the two subsets to form a new balanced DataFrame
balanced_subset = pd.concat([subset_class_0, subset_class_1])

# Shuffle the rows to ensure random order
final_subset = balanced_subset.sample(frac=1, random_state=42).reset_index(drop=True)

# Optionally, save the subset to a new CSV file
final_subset.to_csv('text_dataset.csv', index=False)

# Print some information about the subset
print("Subset shape:", final_subset.shape)
print("Class distribution in subset:\n", final_subset['label'].value_counts())

Subset shape: (13834, 5)
Class distribution in subset:
 1    6917
0    6917
Name: label, dtype: int64