1. Libraries

In [2]:
#Data Understanding and Preparation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
fake = pd.read_csv('Fake.csv')
true = pd.read_csv('True.csv')

In [4]:
len(fake)

23481

In [5]:
len(true)

21417

In [6]:
fake['label'] = 1
true['label']=0

In [38]:
df_concated = pd.concat([fake, true])
permutation = np.random.permutation(len(df_concated))
df = df_concated.iloc[permutation]
df_concated

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [30]:
df.drop(columns=['date'])

,title,text,subject,label
3003,Kellyanne Conway Says All Intel On Russia Mus...,"Kellyanne Conway, Donald Trump s adviser, says...",News,1
20383,WATCH: INDOCTRINATED COLLEGE STUDENTS Are Stun...,Would Hillary s every day Americans answer t...,left-news,1
6938,Taiwan calls on China to view Trump call 'calmly',TAIPEI (Reuters) - Taiwan’s policy making body...,politicsNews,0
5579,McConnell Just ADMITTED The NRA Must Approve ...,We could already make the assumption that Sena...,News,1
16579,ASTONISHING CORRUPTION: More Videos Edited By ...,Wow! Stunning admission by the State Departmen...,Government News,1
...,...,...,...,...
15781,Nine killed by Nusra Front car bomb in southwe...,BEIRUT (Reuters) - A Nusra Front car bomb kill...,worldnews,0
3677,Approval of President Trump drops to lowest si...,NEW YORK (Reuters) - Public approval of Presid...,politicsNews,0
10890,“SHE’S NO PUSHOVER”: How Sarah Huckabee Sander...,Deputy Press Secretary Sarah Huckabee Sanders ...,politics,1
19372,CHECK OUT TRUMP’S HILARIOUS New Years Eve Twee...,"Whether they like it or not, Trump continues t...",left-news,1
18930,Fewer babies born in Singapore last year despi...,SINGAPORE (Reuters) - Fewer babies were born i...,worldnews,0

In [9]:
df.duplicated().sum()

209

In [10]:
df = df.drop_duplicates()

df.shape

(44689, 5)

In [11]:
nan_count_per_column = df.isnull().sum()

print(nan_count_per_column)

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [40]:
df_no_date = df.drop(columns=['date'])

# Save the modified DataFrame to a new CSV file
df_no_date.to_csv('NoDateDataSet.csv', index=False)

In [41]:
df_no_date

,title,text,subject,label
18800,THE SIMPSONS Destroy The Idiocy Of The Politic...,The setting for this episode is Yale Universit...,left-news,1
11207,"Atlantic City, N.J., emergency manager suggest...","(Reuters) - Atlantic City, the distressed New ...",politicsNews,0
16862,BREAKING: Iran Publicly Humiliates Obama…Unvei...,A clear violation of Obama s lopsided deal w...,Government News,1
5103,Actress Rose McGowan Takes On Trump And His ‘...,Best known for her roll in the TV show Charmed...,News,1
7163,This One Car Could Overthrow The Governments ...,"For more than a century, countries around the ...",News,1
...,...,...,...,...
14459,"China wants Bangladesh, Myanmar to solve Rohin...",DHAKA (Reuters) - Chinese Foreign Minister Wan...,worldnews,0
15001,Panama's president to travel to China to meet ...,PANAMA CITY (Reuters) - Panama s President Jua...,worldnews,0
11305,"Liberians vote in historic, delayed election",MONROVIA (Reuters) - Liberians went to the pol...,worldnews,0
4168,U.S. House banking chairman unveils Dodd-Frank...,WASHINGTON (Reuters) - The head of the U.S. Ho...,politicsNews,0
15548,Echoes of Cold War as NATO mulls new North Atl...,BRUSSELS (Reuters) - NATO needs to establish a...,worldnews,0