1. Libraries

In [1]:
#Data Understanding and Preparation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/var/folders/9p/7sb9_6rs4k14xg5ncv4qnqhm0000gn/T/ipykernel_3431/4220606287.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
fake = pd.read_csv('Fake.csv')
true = pd.read_csv('True.csv')

In [3]:
len(fake)
len(true)

23481

In [6]:
fake['label'] = 1
true['label']=0

df_concated = pd.concat([fake, true])
permutation = np.random.permutation(len(df_concated))
df = df_concated.iloc[permutation]
df_concated

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [8]:
df.duplicated().sum()

209

In [9]:
df = df.drop_duplicates()

df.shape

(44689, 5)

In [10]:
nan_count_per_column = df.isnull().sum()

print(nan_count_per_column)

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [11]:
df_no_date = df.drop(columns=['date'])

df_no_date

Lets try to make text Preprocessing, where are going through these steps: 
* Lowercasing
* Removing Special Characters and Punctuation
* Tokenization
* Removing Stopwords
* Lemmatization (We'll prefer this over stemming as it's generally more effective for understanding the context of words).

In [13]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

# Download necessary NLTK resources
nltk.download('punkt')  # for tokenization
nltk.download('stopwords')  # for stopwords
nltk.download('wordnet')  # for lemmatization

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/mikkelrolf/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/mikkelrolf/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/mikkelrolf/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [14]:
def preprocess_text(text):
    # Convert text to lowercase
    text = text.lower()

    # Remove special characters and punctuation
    text = ''.join(char for char in text if char.isalnum() or char.isspace())

    # Tokenization
    tokens = word_tokenize(text)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]

    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]

    # Join words back to form the cleaned text
    return ' '.join(tokens)

def preprocess_subject(subject):
    # Convert text to lowercase
    subject = subject.lower()

    # Remove special characters and punctuation
    subject = ''.join(char for char in subject if char.isalnum() or char.isspace())

    # Tokenization
    tokens = word_tokenize(subject)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]

    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]

    # Join words back to form the cleaned text
    return ' '.join(tokens)

def preprocess_title(title):
    # Convert text to lowercase
    title = title.lower()

    # Remove special characters and punctuation
    title = ''.join(char for char in title if char.isalnum() or char.isspace())

    # Tokenization
    tokens = word_tokenize(title)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]

    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]

    # Join words back to form the cleaned text
    return ' '.join(tokens)

# Assuming 'df' is your DataFrame and it contains a column named 'text'
df_no_date['cleaned_text'] = df_no_date['text'].apply(preprocess_text)
df_no_date['cleaned_subject'] = df_no_date['subject'].apply(preprocess_subject)
df_no_date['cleaned_title'] = df_no_date['title'].apply(preprocess_title)

df_no_date.to_csv('Preprocessed_.csv', index=False)

In [20]:
df_no_date.drop(columns=['title', 'subject', 'text'], inplace=True)

In [21]:
df_no_date

,label,cleaned_text,cleaned_subject,cleaned_title
18933,0,hong kong reuters u commerce secretary wilbur ...,worldnews,u commerce secretary say market access protect...
20373,1,taxpayer need start calling college university...,leftnews,nc taxpayer unknowingly fund stunning communis...
7532,0,new york reuters reutersipsos tracking poll re...,politicsnews,factbox bookie trading exchange put trump clin...
20409,1,getting something nothing rage president profe...,leftnews,obama commencement speech black graduate youre...
15651,0,beirut reuters lebanese army said sunday uncov...,worldnews,lebanese army say uncovered assassination plan
...,...,...,...,...
14360,0,harare reuters lawmaker zimbabwe main oppositi...,worldnews,zimbabwe opposition decide mugabe impeachment ...
8511,0,detroitwashington reuters republican donald tr...,politicsnews,trump seek campaign reset detroit economic speech
10414,0,washington reuters senate armed service commit...,politicsnews,senate panel back nomination fanning u army se...
15198,0,seoul reuters south korea provide additional f...,worldnews,south korea say provide financial support kaes...
6665,0,tokyo reuters kremlin said friday united state...,politicsnews,kremlin say washington must prove hacking accu...

In [24]:
df_no_date.to_csv('Preprocessed.csv', index=False)

In [23]:
#i got an error that indicated that i had NaN in my dataset, thats why i have the code below to identify NaN

nan_count = df_no_date['cleaned_text'].isna().sum()
print(f"Number of NaN values in 'cleaned_text': {nan_count}")

Number of NaN values in 'cleaned_text': 0

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# Load your DataFrame
news_df = pd.read_csv('Preprocessed_NoText.csv')

# Ensure all text data are strings and handle any NaN values
news_df['cleaned_text'] = news_df['cleaned_text'].astype(str).fillna('')

# Initialize vectorizers
bow_vectorizer = CountVectorizer()
tfidf_vectorizer = TfidfVectorizer()

# Apply Bag of Words model
bow_features = bow_vectorizer.fit_transform(news_df['cleaned_text'])

# Apply TF-IDF model
tfidf_features = tfidf_vectorizer.fit_transform(news_df['cleaned_text'])

# Convert BoW features into a DataFrame
bow_df = pd.DataFrame(bow_features.toarray(), columns=bow_vectorizer.get_feature_names_out())

# Convert TF-IDF features into a DataFrame
tfidf_df = pd.DataFrame(tfidf_features.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

/var/folders/9p/7sb9_6rs4k14xg5ncv4qnqhm0000gn/T/ipykernel_1843/342025918.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:

news_df = pd.concat([news_df, bow_df], axis=1)

# Save or print your DataFrames
news_df.to_csv('news.csv', index=False)

In [6]:

news_df = pd.concat([news_df, tfidf_df, bow_df], axis=1)

# Save or print your DataFrames
news_df.to_csv('news.csv', index=False)

:

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

# Load your DataFrame
ngram_df = pd.read_csv('Preprocessed_NoText.csv')

# Initialize a CountVectorizer for generating bigrams
bigram_vectorizer = CountVectorizer(ngram_range=(2, 2))  # Set ngram_range to generate bigrams

# Apply bigrams model
bigram_features = bigram_vectorizer.fit_transform(news_df['cleaned_text'])

# Convert bigram features into a DataFrame
bigram_df = pd.DataFrame(bigram_features.toarray(), columns=bigram_vectorizer.get_feature_names_out())

# Concatenate the bigram DataFrame with the original news_df DataFrame
news_df = pd.concat([news_df, bigram_df], axis=1)

# Display the updated DataFrame with bigram features
print(news_df.head())