1. Libraries

In [1]:
#Data Understanding and Preparation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/var/folders/9p/7sb9_6rs4k14xg5ncv4qnqhm0000gn/T/ipykernel_53423/4220606287.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
fake = pd.read_csv('Fake.csv')
true = pd.read_csv('True.csv')

In [3]:
len(fake)

23481

In [4]:
len(true)

21417

In [6]:
fake['label'] = 1
true['label']=0

In [7]:
df_concated = pd.concat([fake, true])
permutation = np.random.permutation(len(df_concated))
df = df_concated.iloc[permutation]
print(df.columns)

Index(['title', 'text', 'subject', 'date', 'label'], dtype='object')

In [13]:
df.drop(columns=['date'])

,title,text,subject,label
5824,WATCH: Republican Army Colonel Hammers Gun Nu...,This is one of the most epic smack downs of a ...,News,1
20658,Minor New Zealand parties in focus as hotly co...,WELLINGTON (Reuters) - The rising popularity o...,worldnews,0
21065,"U.N. chief calls for united, 'appropriate acti...",UNITED NATIONS (Reuters) - United Nations Secr...,worldnews,0
20249,"Biafra separatists, Nigerian army disagree ove...","ONITSHA, Nigeria (Reuters) - A group campaigni...",worldnews,0
4019,Taiwan says no plans 'at this stage' for phone...,TAIPEI (Reuters) - Taiwan’s presidential offic...,politicsNews,0
...,...,...,...,...
5641,Denis Leary Rips Trump A New One For Using 9/...,Comedian Denis Leary has donated a lot of his ...,News,1
12787,WATCH HUGE CROWD CHEER When Asked If Trump Sho...,,politics,1
16131,Dutch begin trial over 1970s Ethiopian war crimes,AMSTERDAM (Reuters) - A man faced war crimes c...,worldnews,0
9995,LOL! SHAKEDOWN ARTIST JESSE JACKSON TELLS CROW...,Here s a 1999 video of Jesse Jackson praising ...,politics,1
1326,Oregon Republican Wants To Put Right-Wing Mil...,After Friday s right-wing terror attack in Por...,News,1

In [8]:
df.duplicated().sum()

209

In [9]:
df = df.drop_duplicates()

df.shape

(44689, 5)

In [11]:
nan_count_per_column = df.isnull().sum()

print(nan_count_per_column)

title      0
text       0
subject    0
date       0
label      0
dtype: int64